* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $body-background-color;
  color: $body-default-color;
  font-family: $body-default-font-family;
  font-size: $base-font-size;
}

svg {
  margin: auto;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

a {
  color: $body-default-color;
}

input, input[type=email], input[type=password], textarea {
  background-color: $grey;
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  font-family: $body-default-font-family;
  margin-bottom: $space;
  padding: $input-spacing;
}

input:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus {
  background-color: $dark-grey;
  transition: background-color .3s ease;
}

*:focus {
    outline: none;
}

.shadow {
  -moz-box-shadow: 0 0 1px 8px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 1px 8px rgba(0,0,0,.3);
}
